{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Actualizar Stock: {{ medicamento.nombre }}</h2>

    <form method="POST" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad</label>
            <input type="number" name="cantidad" id="cantidad" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="tipo" class="form-label">Tipo de Movimiento</label>
            <select name="tipo" id="tipo" class="form-select" required>
                <option value="entrada">Entrada</option>
                <option value="salida">Salida</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'inventarios:gestion_medicamentos' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
