<!-- templates/admin/form_empleado.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2>{% if form.instance.id %}Editar{% else %}Nuevo{% endif %} Empleado</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{ form.as_p }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'recursos_humanos:gestion_empleados' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}